
/* Global Styles */

body {
  background-color: lightblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #333;
}

h1 {
  font-family: 'Rock Salt', cursive;
  color: white;
  font-size: 4.3em;
}

h2 {
  font-size: 2em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 25px;
}

div p {
  padding-left: 5%;
  padding-right: 5%;
}

ol {
  padding-left: 5%;
  padding-right: 5%;
}

li {

}

/* Link Style */

a {
  text-decoration: none;
}

p a {
  font-weight: bold;
  font-size: 1.1em;
  color: blue;
}

p a:hover {
  color: darkblue;
}

p a:visited {
  color: teal;
}

/* Triangle SVG Class*/
.triangle {
  fill: lightblue;
  width: 100%;
  height: 10vw;
  z-index: -2;
}

.below-slant {
  padding-top: 20px;
}

/* Navigation Styles */

.nav {
  display: ;
  position: fixed;
  top: 0;
  background-color: lightblue;
  width: 100%;
  box-shadow: 0px 15px 15px -10px grey;
  z-index: 5;
  text-align: center;
}

.nav ul {
  height: 50px;
}

.nav ul li {
  display: inline;
}

.nav ul li a {
  display: inline-block;
  color: white;
  font-size: 1.1em;
  padding: 15px 20px;
}

.nav ul li a:hover {
  color: lightblue;
}

 /* Header Styles */

#header-div {
  position: relative;
  height: 500px;
  background-image: url(images/header-image.jpg);
  background-repeat:  no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index: -3
}

#header-span {
  position: absolute;
  font-family: 'Rock Salt', cursive;
  color: white;
  font-size: 1.6em;
  padding-top: 10%;
  padding-left: 7%;
}

#header-title {
  padding-top: 15%;
  padding-left: 15%;
}

#header-triangle {
  position: absolute;
  bottom: 0;
}

/* Getting there Styles */

#getting-there-triangle-div {
  position: relative;
  height: 400px;
  background-image: url(images/ferry.jpg); /* Give credit to photographer here -->https://www.pinterest.com/myedmondsnews/remembering-bryan-briscoe-1962-2012/ */
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  z-index: -3;
}

#getting-there-triangle-top {
  position: absolute;
  top: 0;
}

#getting-there-triangle-bottom {
  position: absolute;
  bottom: 0;
}

#table-map-div {
  position: relative;
  display: block;
  padding-bottom: 250px;
}

.table {
  position: absolute;
  background-color: #c1e1ec;
  border: 5px solid blue;
  width: 20%;
  margin-top: 20px;
  height: 200px;
}

.table tr, .table td {
  border: 1px solid blue;
}

.table th {
  font-weight: 400;
  padding-top: 10px;
}

.table td {
  text-align: center;
  padding-top: 10px;
}

#table1 {
  left: 5%;
}

#table2 {
  left: 30%;
}

#map {
  position: absolute;
  right: 5%;
  width: 40%;
  height: 200px;
  border-radius: 5px;
  margin-top: 20px;
}



/* Where to Camp Styles */

#where-to-camp-triangle-div {
  position: relative;
  height: 400px;
  background-image: url(images/where-to-camp-image.jpg);
  background-repeat:  no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index: -3;
}

#where-to-camp-triangle-top {
  position: absolute;
  top: 0;
}

#where-to-camp-triangle-bottom {
  position: absolute;
  bottom: 0;
}

/* Activities Styles */

#activities-div {
  position: relative;
  height: 400px;
  background-image: url(images/stars-image.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -3;
}

#activities-triangle-top {
  position: absolute;
  top: 0;
}

#activities-triangle-bottom {
  position: absolute;
  bottom: 0;
}