
header {
  border: 3px solid green;
  height: 150px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
}

#heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Form Styling */

form {
  border: 2px solid black;
  font-weight: 400;
  height: 200px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 5px;
}

legend {
  font-size: 2em;
  margin-bottom: 25px;
  padding-top: 10px;
  border: 1px dotted red;
}

label {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 10px;
  margin-right: 20px;
  border: 1px dotted red;
}

/* Footer Correction */

footer {
  margin-top: 0;
}